<div class="container-fluid page">
 <div class=" page__box p-3 mt-2" style="display: flex; justify-content: space-between;"> 
    <!-- <div class="head"> -->
        <!-- <p  style="margin-left: 5%;">Les permis de conduire</p> -->
        <input class="search" type="search"  placeholder="Rechercher" >

        <div class="cardi">
            <div class="box" style="width: 50%; margin-left: 1%; margin-right: 1%;">
              <p style="color: #000;">Nouveau permis</p>
              <!-- <p style="color: #999;">Utilisateur</p> -->
            </div>
            <div class="icon" style="background: #2A445D; width: 50%; margin-right: 1.5%; height: 90%; margin-left: 1%; border-radius: 10px;">
              <i style="color: #fbfcfd;" class="fa-sharp fa-solid fa-plus" (click)="open(content)"></i>
            </div>
          </div>

    <!-- </div> -->
    </div>
           
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute " style="width: 100%;">
        
        <div class="row" style="width: 94% !important; margin-left: auto; margin-right: auto; margin-top: 10px; display: flex; justify-content: space-between;">

            <div class=" col-md-6 permis">

                <div class="entete">
                    <div class="cone">
                      <img class="image" src="../../assets/symboles.png" alt=""/>
                    </div>
                   
                    <div class="ministre">
                       <p>République du Mali
                        Ministre des transports</p>
                    </div>
                    <div class="cone">
                       <img class="image" src="../../assets/Mali.png" alt=""/>
                    </div>
                  </div>
                  <div class="mis">
                    <p>Permis de Conduire Malien</p>
                  </div>
                  <div class="ete">
                        <div class="coneg">
                          <img class="image" src="../../assets/One.jpg" alt=""/>
                        </div>
                         &nbsp;
                        <div class="item">
                          <div class="info-item">
                            <p>Nom : <span>ADIAWIAKOYE</span></p>
                          </div>
                          <div class="info-item">
                            <p>Prenom : <span>Ahmadou</span></p>
                          </div>
                          <div class="info-item">
                            <p>Né lé : <span>10/10/1000</span> à <span>10/10/1000</span></p>
                          </div>
                      </div>
                  </div>
                  
                  <div class="prow">
                  
                        <div class="info-item">
                          <p>Domicile : <span>yirimadio 1008 lgts</span></p>
                        </div>
                        <div class="info-item">
                          <p>Profession : <span>Etudiant</span></p>
                        </div>
                        <div class="info-item">
                          <p>N° Permis : <span>00012321</span></p>
                        </div>
                        <div class="info-item">
                          <p>Délivre lé : <span>20/12/2222  à  BAMAKO</span></p>
                        </div>
                        <div class="info-item">
                          <p>date d’expiration : <span>20/12/2222</span></p>
                        </div>
                        <div class="info-item">
                          <p>Catégorie du permis  : <span>B</span></p>
                        </div>
                  </div>
                  
                  <div class="desc">
                    <p>Véhicules automobiles de moins de 10 places et dont 
                      le poids tout autorisé en charge excède 3500 kg</p>
                  </div>

            </div>




            <div class=" col-md-6 permis">

                <div class="entete">
                    <div class="cone">
                      <img class="image" src="../../assets/symboles.png" alt=""/>
                    </div>
                   
                    <div class="ministre">
                       <p>République du Mali
                        Ministre des transports</p>
                    </div>
                    <div class="cone">
                       <img class="image" src="../../assets/Mali.png" alt=""/>
                    </div>
                  </div>
                  <div class="mis">
                    <p>Permis de Conduire Malien</p>
                  </div>
                  <div class="ete">
                        <div class="coneg">
                          <img class="image" src="../../assets/One.jpg" alt=""/>
                        </div>
                         &nbsp;
                        <div class="item">
                          <div class="info-item">
                            <p>Nom : <span>ADIAWIAKOYE</span></p>
                          </div>
                          <div class="info-item">
                            <p>Prenom : <span>Ahmadou</span></p>
                          </div>
                          <div class="info-item">
                            <p>Né lé : <span>10/10/1000</span> à <span>10/10/1000</span></p>
                          </div>
                      </div>
                  </div>
                  
                  <div class="prow">
                  
                        <div class="info-item">
                          <p>Domicile : <span>yirimadio 1008 lgts</span></p>
                        </div>
                        <div class="info-item">
                          <p>Profession : <span>Etudiant</span></p>
                        </div>
                        <div class="info-item">
                          <p>N° Permis : <span>00012321</span></p>
                        </div>
                        <div class="info-item">
                          <p>Délivre lé : <span>20/12/2222  à  BAMAKO</span></p>
                        </div>
                        <div class="info-item">
                          <p>date d’expiration : <span>20/12/2222</span></p>
                        </div>
                        <div class="info-item">
                          <p>Catégorie du permis  : <span>B</span></p>
                        </div>
                  </div>
                  
                  <div class="desc">
                    <p>Véhicules automobiles de moins de 10 places et dont 
                      le poids tout autorisé en charge excède 3500 kg</p>
                  </div>

            </div>







        </div>

      </div>
    </div>
</div>




<ng-template #content let-modal>
	<div style="background: #2A445D;" class="modal-header">
		<h4 style="color: #fff;" class="modal-title" id="modal-basic-title">Ajouter un permis de conduire</h4>
		<button style="background: red; border-radius: 50%; color: #fff; font-size: 30px; border: none;" type="button" class="fa-solid fa-xmark"  (click)="modal.dismiss('Cross click')"></button>
  
  </div>
	<div class="modal-body">
		<form>
      <div class="" style="display: flex; justify-content: space-between;">
        <div class="form-group flex-column " > <label class="col-form-label" style="margin-left: 15px;">Nom :</label> <input type="text" class="form-control" id="code" > </div>
        <div class="form-group flex-column "> <label class="col-form-label" style="margin-left: 15px;">Prenom :</label> <input type="text" class="form-control" id="nom" > </div>
    </div>

      <div class="mb-1">
				<label style="margin-left: 15px;"  class="col-form-label">Adresse :</label>
				<!-- <div  class="input-group"> -->
					<input
						type="text" class="form-control"
					/>
			</div>

      <div class="mb-1">
				<label style="margin-left: 15px;" class="col-form-label">Téléphone :</label>
				<!-- <div  class="input-group"> -->
					<input
						type="phone" class="form-control"
					/>
			</div>

      <div class="mb-1">
				<label style="margin-left: 15px;"  class="col-form-label">Email :</label>
				<!-- <div  class="input-group"> -->
					<input
						type="email" class="form-control"
					/>
			</div>

      <div class="mb-1">
				<label style="margin-left: 15px;"  class="col-form-label">Matricule :</label>
				<!-- <div  class="input-group"> -->
					<input
						type="text" class="form-control"
					/>
			</div>

      <!-- <div class="mb-1">
				<label style="margin-left: 15px;" class="col-form-label">Prenom</label>
				 <div  class="input-group">
					<input
						type="text" class="form-control"
					/>
			</div> -->

        <div style="display: flex; justify-content: center;" class="modal-footer">
            <button type="button">Envoyer</button>
        </div>
		</form>
	</div>
	
</ng-template>