.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
    &__box {
      min-height: 120px;
      background: #2A445D;
      margin: 0 -1rem;
      font-size: 36px;
    }
    &__content {
      min-height: calc(100vh - 178px);
      scrollbar-width: none !important;
      overflow-y: scroll; 
      border-radius: 10px;
      margin-top: -2rem;
      background: white;
      color: black;
      font-size: 2rem;
      &-data {
        top: 10%;
        left: 10%;
        transform: translate(-10%, -10%);
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  
  .contnue{
    margin-top: 5px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
  .permis{
    width: 47%;
    background-color: #efefef;
    border-radius: 15px;
  }

  .entete{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .image{
    width: 50px;
    height: 50px;
}
.ministre{
    margin-top: 5px;
    text-align: center;
}
.ministre p{
    font-weight: 500;
    color: #000;
    font-size: 15px;
    // --background: none;
    // border: none !important;
    // text-align: center;
    // border-bottom: 1px solid #FFFFFF;
}

p{
    font-weight: 500;
    color: #000;
    font-size: 14px;
    
}

.mis{
    text-align: center;
   margin-top: -5px;
    background: #D9D9D9;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 25px;
}
.mis p{
    font-size: 17px;
    font-weight: 700;
    margin: auto;
}
.ete{
    display: flex;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    // background: rebeccapurple;
}
.coneg{
    //  background: blue;
//    margin: auto;
   width: 40%;
   height: 100%;
   margin-top: 10px;
   margin-bottom: 10px;
}
.coneg .image{
    // padding: auto;
     width: 90%;
     height: 90%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;

}
.item{
    margin-top: 10px;
//    background: bisque;
 float: right;
 padding-right: 15px;
 width: 60%;
 margin-bottom: 10px;
  }
  .info-item{
     margin-bottom: -12px;
  }
  .info-item p {
     font-weight: 500;
    padding: 10px 0;
    font-size: 13px;
    color: #000;
    border-bottom: 1px solid #000;
   padding-bottom: 5px;
}
.info-item p span {
    font-weight: 600;
    color: #000;
    margin-left: 4px;
    display: inline-block;
}


.prow{
    // margin-top: 15px;
// background: bisque;
margin-left: 5%;
margin-right: 5%;
  }
//   .prow .info-item{
//     // background: red;
//     margin-left: 3%;
//     margin-right: 3%;
//     margin-bottom: -15px;
//   }
//   .prow .info-item p {
//      font-weight: 500;
//     padding: 10px 0;
//     font-size: 13px;
//     color: #000;
//     border-bottom: 1px solid #000;
// }
// .prow .info-item p span {
//     font-weight: 600;
//     color: #000;
//     margin-left: 4px;
//     display: inline-block;
// }

.desc{
    margin-top: 7%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.desc p{
    font-size: 14px;
}

.vehicule{
    width: 47%;
    background-color: #efefef;
    border-radius: 15px;
}
.vehicule .header{
    display: flex;
    justify-content: space-between;
     width: 100%;
     border-radius: 15px 15px 0px 0px;
     background: #2A445D;
     height: 10%;
}
.vehicule .header .ajou{
    // text-transform: uppercase;
    // width: 150px;
    padding: 0px 15px;
     height: 40px;
     border-radius: 10px;
    font-size: 16px;
    font-weight: 550;
    line-height: 35px;
    text-align: center;
    border: 2px solid #FFF;
    display: block;
    text-decoration: none;
    // margin: 20px auto 1px auto;
    color: #2A445D;
    overflow: hidden;        
    position: relative;
    background-color: #FFF;
    margin-top: 1.5%;
    margin-right: 5%;

}
.vehicule .header .ajou:hover{
    background-color: #2A445D;
    color: #fff;

}
.vehicule .header .ajou i{
    margin-right: 10px;
}

.header p{
    // margin: auto;
    // vertical-align: middle;
     padding-top: 2%;
     padding-left: 5%;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}


.item-padd{
    width: 97%;
    
      margin-top: 20px;
      height: 470px;
   
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    
    
}
.body{
    scrollbar-width: none !important;
    overflow-y: scroll; 
}
.body::-webkit-scrollbar {
    display: none;
  }

.vehic{
display: flex;
width: 90%;
background: #2A445D;
border: 4px solid #D9D9D9;
border-radius: 10px;
margin-left: auto;
margin-right: auto;
margin-bottom: 3%; 
}
.inmage{

width: 35%;
 margin-top: 0%;
margin-left: 5%;
}
.inmage .image{

width: 105px;
 height: 100%;
 margin-left: auto;
 margin-right: auto;
}
.info{
// background: bisque;
width: 65%;
}

.inform{
margin-top: 5px;
// background: #000;

}
.info .inform p{
color: #FFFFFF;
font-size: 15px;
margin-bottom: 0%;
margin-left: 10px;
}
.info .inform p span{
font-weight: 700;
}

.buton{
display: flex;
}

.buton .hire{
    padding: 0px 5px;
    height: 35px;
    border-radius: 2px;
   font-size: 15px;
   font-weight: 600;
   line-height: 30px;
   text-align: center;
   border: 2px solid #FFF;
   display: block;
   text-decoration: none;
   // margin: 20px auto 1px auto;
   color: #000;
   overflow: hidden;        
   position: relative;
   background-color:  #FFF;
    margin-top: 1.5%;
transition: all 0.3s ease;
}
.buton .btn{
 padding: 0px 15px;
     height: 35px;
     border-radius: 5px;
    font-size: 14px;
    font-weight: 550;
    line-height: 30px;
    text-align: center;
    border: 1px solid #B2D7FA;
    display: block;
    text-decoration: none;
    // margin: 20px auto 1px auto;
    color: #ffffff;
    overflow: hidden;        
    position: relative;
    background-color:  #2A445D;
     margin-top: 1.5%;
    // margin-right: 5%;
    border-bottom: 1px solid #fcfcfd;
}
.buton .btn:hover{
    border: 1px solid #B2D7FA;
    background-color:  #ffffff;
    color: #000;
    border-bottom: 1px solid #000000;
}
a{
text-decoration: none;
}