<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2"><i (click)=" back()" class="fa-solid fa-reply"></i></div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute " style="width: 100%;">

        <div class="contnue">

            <div class="permis">

                <div class="entete">
                    <div class="cone">
                      <img class="image" src="../../assets/symboles.png" alt=""/>
                    </div>
                   
                    <div class="ministre">
                       <p>République du Mali
                        Ministre des transports</p>
                    </div>
                    <div class="cone">
                       <img class="image" src="../../assets/Mali.png" alt=""/>
                    </div>
                  </div>
                  <div class="mis">
                    <p>Permis de Conduire Malien</p>
                  </div>
                  <div class="ete">
                        <div class="coneg">
                          <img class="image" src="{{permiprofile}}" alt=""/>
                        </div>
                         &nbsp;
                        <div class="item">
                          <div class="info-item">
                            <p>Nom : <span>{{perminom}}</span></p>
                          </div>
                          <div class="info-item">
                            <p>Prenom : <span>{{permiprenom}}</span></p>
                          </div>
                          <div class="info-item">
                            <p>Né lé : <span>{{permidatenaissance}}</span> à <span>{{permilieunaissance}}</span></p>
                          </div>
                      </div>
                  </div>
                  
                  <div class="prow">
                  
                        <div class="info-item">
                          <p>Domicile : <span>{{permidomicile}} </span> </p>
                        </div>
                        <div class="info-item">
                          <p>Profession : <span>{{permiprofession}}</span></p>
                        </div>
                        <div class="info-item">
                          <p>N° Permis : <span>{{perminum}}</span></p>
                        </div>
                        <div class="info-item">
                          <p>Délivre lé : <span>{{permidatelivraison}}  à  BAMAKO</span></p>
                        </div>
                        <div class="info-item">
                          <p>date d’expiration : <span>{{permidateecheance}}</span></p>
                        </div>
                        <div class="info-item">
                          <p>Catégorie du permis  : <span>{{permicategorie}}</span></p>
                        </div>
                  </div>
                  
                  <div class="desc">
                    <p>Véhicules automobiles de moins de 10 places et dont 
                      le poids tout autorisé en charge excède 3500 kg</p>
                  </div>

            </div>

            <div class="vehicule">
                <div class="header">
                    <p class="title"> La Liste des véhicules :</p> 
                    <a [routerLink] ="['/principal/ajoutervehicule', id]" class="ajou"><i class="fa-solid fa-plus"></i> Ajouter</a>
                </div>

                <div class="body">

         <div class="item-padd">
          <!-- <div class="padd" *ngFor="let vehicle of vehicule; let i= index "> -->
          <div class="padd" *ngFor="let vehicle of vehicule2">
          <div class="vehic">
          <div class="inmage">
               <img class="image" src="{{vehicle[2]}}" alt=""/>
          </div>
    
          <div class="info">
            <div class="inform">
              <!-- <p><span>{{vtre[i].marque}} </span><span> {{genr}} </span> <span> {{typ}}</span></p> -->
              <p><span>{{vehicle[18]}} </span><span> {{vehicle[16]}} </span> <span> {{vehicle[30]}}</span></p>
              <p>Couleur : <span>{{vehicle[1]}}</span></p>
          </div>
          <div class="buton">
            <a routerLink = '/detailvehicule'  class="hire">{{vehicle[3]}}</a>
            &nbsp;
             &nbsp;
            <a [routerLink] = "['/principal/cartegrise', id, vehicle[0]]" class="btn">Voir plus</a> 
              </div>
          </div>
        </div>


        <!-- <div class="vehic">
            <div class="inmage">
                 <img class="image" src="../../assets/Frame 128.png" alt=""/>
            </div>
      
            <div class="info">
              <div class="inform">
              <p><span> TOYOTA </span> <span> COROLLA </span> <span> XLI </span></p>
              <p>Couleur : <span>Orange</span></p>
            </div>
            <div class="buton">
              <a routerLink = '/detailvehicule'  class="hire">AV 7223 MD</a>
              &nbsp;
               &nbsp;
              <a routerLink = '/principal/cartegrise' class="btn">Voir plus</a>  
                </div>
            </div>
          </div> -->


          <!-- <div class="vehic">
            <div class="inmage">
                 <img class="image" src="../../assets/Frame 128.png" alt=""/>
            </div>
      
            <div class="info">
              <div class="inform">
              <p><span> TOYOTA </span> <span> COROLLA </span> <span> XLI </span></p>
              <p>Couleur : <span>Orange</span></p>
            </div>
            <div class="buton">
              <a routerLink = '/detailvehicule'  class="hire">AV 7223 MD</a>
              &nbsp;
               &nbsp;
              <a routerLink = '/principal/cartegrise' class="btn">Voir plus</a>  
                </div>
            </div>
          </div> -->



          <!-- <div class="vehic">
            <div class="inmage">
                 <img class="image" src="../../assets/Frame 128.png" alt=""/>
            </div>
      
            <div class="info">
              <div class="inform">
              <p><span> TOYOTA </span><span> COROLLA XLI </span></p>
              <p>Couleur : <span>Orange</span></p>
            </div>
            <div class="buton">
              <a routerLink = '/detailvehicule'  class="hire">AV 7223 MD</a>
              &nbsp;
               &nbsp;
               <a routerLink = '/principal/cartegrise' class="btn">Voir plus</a> 
                </div>
            </div>
          </div> -->

          <!-- <div class="vehic">
            <div class="inmage">
                 <img class="image" src="../../assets/Frame 128.png" alt=""/>
            </div>
      
            <div class="info">
              <div class="inform">
              <p><span> TOYOTA </span><span> COROLLA XLI </span></p>
              <p>Couleur : <span>Orange</span></p>
            </div>
            <div class="buton">
              <a routerLink = '/detailvehicule'  class="hire">AV 7223 MD</a>
              &nbsp;
               &nbsp;
              <a routerLink = '/principal/cartegrise' class="btn">Voir plus</a> 
                </div>
            </div>
          </div> -->
          </div>


      </div>

                </div>

            </div>

        </div>
        
    </div>
   </div>
</div>
