<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2"><i (click)=" back()" class="fa-solid fa-reply"></i></div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute " style="width: 100%;">

        <div class="contnue">

            <div class="permis">

                <div class="entete">
                    <div class="cone">
                      <img class="image" src="../../assets/symboles.png" alt=""/>
                    </div>
                   
                    <div class="ministre">
                       <p>République du Mali
                        Ministre des transports</p>
                    </div>
                    <div class="cone">
                       <img class="image" src="../../assets/Mali.png" alt=""/>
                    </div>
                  </div>
                  <div class="mis">
                    <p>Permis de Conduire Malien</p>
                  </div>
                  <div class="ete">
                        <div class="coneg">
                          <img class="image" src="../../assets/One.jpg" alt=""/>
                        </div>
                         &nbsp;
                        <div class="item">
                          <div class="info-item">
                            <p>Nom : <span>ADIAWIAKOYE</span></p>
                          </div>
                          <div class="info-item">
                            <p>Prenom : <span>Ahmadou</span></p>
                          </div>
                          <div class="info-item">
                            <p>Né lé : <span>10/10/1000</span> à <span>10/10/1000</span></p>
                          </div>
                      </div>
                  </div>
                  
                  <div class="prow">
                  
                        <div class="info-item">
                          <p>Domicile : <span>yirimadio 1008 lgts</span></p>
                        </div>
                        <div class="info-item">
                          <p>Profession : <span>Etudiant</span></p>
                        </div>
                        <div class="info-item">
                          <p>N° Permis : <span>00012321</span></p>
                        </div>
                        <div class="info-item">
                          <p>Délivre lé : <span>20/12/2222  à  BAMAKO</span></p>
                        </div>
                        <div class="info-item">
                          <p>date d’expiration : <span>20/12/2222</span></p>
                        </div>
                        <div class="info-item">
                          <p>Catégorie du permis  : <span>B</span></p>
                        </div>
                  </div>
                  
                  <div class="desc">
                    <p>Véhicules automobiles de moins de 10 places et dont 
                      le poids tout autorisé en charge excède 3500 kg</p>
                  </div>

            </div>

            <div class="vehicule">
                <div class="header">
                    <p class="title"> La Liste des véhicules :</p> 
                    <a routerLink = '/principal/ajoutervehicule'  class="ajou"><i class="fa-solid fa-plus"></i> Ajouter</a>
                </div>

                <div class="body">

         <div class="item-padd">
        <div class="vehic">
          <div class="inmage">
               <img class="image" src="../../assets/Frame 128.png" alt=""/>
          </div>
    
          <div class="info">
            <div class="inform">
            <p><span> TOYOTA </span> <span> COROLLA </span> <span> XLI </span></p>
            <p>Couleur : <span>Orange</span></p>
          </div>
          <div class="buton">
            <a routerLink = '/detailvehicule'  class="hire">AV 7223 MD</a>
            &nbsp;
             &nbsp;
            <a routerLink = '/principal/cartegrise' class="btn">Voir plus</a> 
              </div>
          </div>
        </div>


        <div class="vehic">
            <div class="inmage">
                 <img class="image" src="../../assets/Frame 128.png" alt=""/>
            </div>
      
            <div class="info">
              <div class="inform">
              <p><span> TOYOTA </span> <span> COROLLA </span> <span> XLI </span></p>
              <p>Couleur : <span>Orange</span></p>
            </div>
            <div class="buton">
              <a routerLink = '/detailvehicule'  class="hire">AV 7223 MD</a>
              &nbsp;
               &nbsp;
              <a routerLink = '/principal/cartegrise' class="btn">Voir plus</a>  
                </div>
            </div>
          </div>


          <div class="vehic">
            <div class="inmage">
                 <img class="image" src="../../assets/Frame 128.png" alt=""/>
            </div>
      
            <div class="info">
              <div class="inform">
              <p><span> TOYOTA </span> <span> COROLLA </span> <span> XLI </span></p>
              <p>Couleur : <span>Orange</span></p>
            </div>
            <div class="buton">
              <a routerLink = '/detailvehicule'  class="hire">AV 7223 MD</a>
              &nbsp;
               &nbsp;
              <a routerLink = '/principal/cartegrise' class="btn">Voir plus</a>  
                </div>
            </div>
          </div>



          <div class="vehic">
            <div class="inmage">
                 <img class="image" src="../../assets/Frame 128.png" alt=""/>
            </div>
      
            <div class="info">
              <div class="inform">
              <p><span> TOYOTA </span><span> COROLLA XLI </span></p>
              <p>Couleur : <span>Orange</span></p>
            </div>
            <div class="buton">
              <a routerLink = '/detailvehicule'  class="hire">AV 7223 MD</a>
              &nbsp;
               &nbsp;
               <a routerLink = '/principal/cartegrise' class="btn">Voir plus</a> 
                </div>
            </div>
          </div>

          <div class="vehic">
            <div class="inmage">
                 <img class="image" src="../../assets/Frame 128.png" alt=""/>
            </div>
      
            <div class="info">
              <div class="inform">
              <p><span> TOYOTA </span><span> COROLLA XLI </span></p>
              <p>Couleur : <span>Orange</span></p>
            </div>
            <div class="buton">
              <a routerLink = '/detailvehicule'  class="hire">AV 7223 MD</a>
              &nbsp;
               &nbsp;
              <a routerLink = '/principal/cartegrise' class="btn">Voir plus</a> 
                </div>
            </div>
          </div>

      </div>

                </div>

            </div>

        </div>
        
    </div>
   </div>
</div>
