<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2" style="display: flex; justify-content: space-between;">

    <input class="search" type="search"  placeholder="Rechercher" >

    <div class="cardi">
        <div class="box" style="width: 50%; margin-left: 1%; margin-right: 1%;">
            <!-- <i style="color: #0a0a0a;" class="fa-sharp fa-solid fa-plus"></i> -->
          <p style="color: #000;">Total Infraction</p>
          <!-- <p style="color: #999;">Utilisateur</p> -->
        </div>
        <div class="icon" style="background: #2A445D; width: 50%; margin-right: 1.5%; height: 90%; margin-left: 1%; border-radius: 10px;">
            <p style="color: #ffffff;">{{infractionnbr}}</p>
        </div>
      </div>
    </div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute " style="width: 100%;">
       
        <!-- <div class="searchdiv">
          <input class="search" type="search" id="default-search" placeholder="Rechercher" required>
       </div> -->

        <div class="row" id="RRow">
          <div class="col-sm-6" style="margin-bottom: 2%; ">
            <div class="card" style="background: #2A445D;">
              <div class="card-block" >
                <div class="titre">
                  <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
                   <p>Infraction du : <Span>01/ 10 / 2023 T 10 H 10 : 00</Span></p>
                </div>
                   <div class="text">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content. 
                      vous avez bruler le feu rouge sans fuite
                      sur la rue 250 de badalabougou  
                    </p>
                   </div>
              <div class="footer">
                <p>Infraction regle : <span>nom</span></p>
                 <button class="hire" href="#">QX 2343 MD</button>
                 <button class="btn btn-primary" href="#">Voir plus</button>
              </div>
             
            </div>
          </div>
          </div>

       <div class="col-sm-6" style="margin-bottom: 2%; ">
            <div class="card" style="background: #2A445D;">
              <div class="card-block" >
                <div class="titre">
                  <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
                   <p>Infraction du : <Span>01/ 10 / 2023 T 10 H 10 : 00</Span></p>
                </div>
                   <div class="text">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content. 
                      vous avez bruler le feu rouge sans fuite
                      sur la rue 250 de badalabougou  
                    </p>
                   </div>
              <div class="footer">
                <p>Infraction regle : <span>nom</span></p>
                 <button class="hire" href="#">QX 2343 MD</button>
                 <button class="btn btn-primary" href="#">Voir plus</button>
              </div>
             
            </div>
          </div>
          </div>


          <div class="col-sm-6" style="margin-bottom: 2%; ">
            <div class="card" style="background: #2A445D;">
              <div class="card-block" >
                <div class="titre">
                  <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
                   <p>Infraction du : <Span>01/ 10 / 2023 T 10 H 10 : 00</Span></p>
                </div>
                   <div class="text">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content. 
                      vous avez bruler le feu rouge sans fuite
                      sur la rue 250 de badalabougou  
                    </p>
                   </div>
              <div class="footer">
                <p>Infraction regle : <span>nom</span></p>
                 <button class="hire" href="#">QX 2343 MD</button>
                 <button class="btn btn-primary" href="#">Voir plus</button>
              </div>
             
            </div>
          </div>
          </div>

          <div class="col-sm-6" style="margin-bottom: 2%; ">
            <div class="card" style="background: #2A445D;">
              <div class="card-block" >
                <div class="titre">
                  <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
                   <p>Infraction du : <Span>01/ 10 / 2023 T 10 H 10 : 00</Span></p>
                </div>
                   <div class="text">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content. 
                      vous avez bruler le feu rouge sans fuite
                      sur la rue 250 de badalabougou  
                    </p>
                   </div>
              <div class="footer">
                <p>Infraction regle : <span>nom</span></p>
                 <button class="hire" href="#">QX 2343 MD</button>
                 <button class="btn btn-primary" href="#">Voir plus</button>
              </div>
             
            </div>
          </div>
          </div>



          <div class="col-sm-6" style="margin-bottom: 2%; ">
            <div class="card" style="background: #2A445D;">
              <div class="card-block" >
                <div class="titre">
                  <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
                   <p>Infraction du : <Span>01/ 10 / 2023 T 10 H 10 : 00</Span></p>
                </div>
                   <div class="text">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content. 
                      vous avez bruler le feu rouge sans fuite
                      sur la rue 250 de badalabougou  
                    </p>
                   </div>
              <div class="footer">
                <p>Infraction regle : <span>nom</span></p>
                 <button class="hire" href="#">QX 2343 MD</button>
                 <button class="btn btn-primary" href="#">Voir plus</button>
              </div>
             
            </div>
          </div>
          </div>

          <div class="col-sm-6" style="margin-bottom: 2%; ">
            <div class="card" style="background: #2A445D;">
              <div class="card-block" >
                <div class="titre">
                  <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
                   <p>Infraction du : <Span>01/ 10 / 2023 T 10 H 10 : 00</Span></p>
                </div>
                   <div class="text">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content. 
                      vous avez bruler le feu rouge sans fuite
                      sur la rue 250 de badalabougou  
                    </p>
                   </div>
              <div class="footer">
                <p>Infraction regle : <span>nom</span></p>
                 <button class="hire" href="#">QX 2343 MD</button>
                 <button class="btn btn-primary" href="#">Voir plus</button>
              </div>
             
            </div>
          </div>
          </div>


        </div>




      </div>
    </div>
  </div>
