<div class="formulaire">
    <form class="connexion">

        <h1 class="titre_formulaire">connexion</h1>

        <div class="div_formulaire">
           <input type="text" class="form_input" placeholder="Téléphone">
           <label class="form_label">Téléphone</label>
        </div>

        <div class="div_formulaire">
            <input type="text" class="form_input" placeholder="Mot de passe">
            <label class="form_label">Mot de passe</label>
         </div>
         <input type="submit" routerLink="/acceuil" value="connexion" class="form_button">
    </form>
</div>
