<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2" style="display: flex; justify-content: space-between;">

      <input class="search" type="search"  placeholder="Rechercher" >

      <div class="cardi">
          <div class="box" style="width: 50%; margin-left: 1%; margin-right: 1%;">
            <p style="color: #000;">Nouveau Agent</p>
            <!-- <p style="color: #999;">Utilisateur</p> -->
          </div>
          <div class="icon" style="background: #2A445D; width: 50%; margin-right: 1.5%; height: 90%; margin-left: 1%; border-radius: 10px;">
            <i style="color: #fbfcfd;" class="fa-sharp fa-solid fa-plus" (click)="open(content)"></i>
          </div>
        </div>

    </div>
   
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute " style="width: 100%;">


        <section class="attendance">
          <div class="attendance-list">
            <!-- <div class="haut">
               <h1>des controlleurs</h1> 
               <button>Ajouter Controlleur</button>
               <button  (click)="open(content)">Plus d'agent</button>
               
               <input class="search" type="search" id="default-search" placeholder="Rechercher" required>
              </div> -->
            
            <div class="tableliste">
               <table class="table">
                   <thead>
                    <tr>
                      <th>Profile</th>
                      <th>Nom</th>
                      <th>Prenom</th>
                      <th>Grade</th>
                      <th>Adresse</th>
                      <th>Téléphone</th>
                      <th>detaile</th>
                      <th>Action</th>
                    </tr>
                   </thead>
                   <tbody>
                    <tr>
                      <td><img src="../../assets/logo.png" alt="" style="width: 50px; height: 50px; border-radius: 100%; border: 1px solid #2A445D;"></td>
                      <td class="td">ADIAWIAKOYE</td>
                      <td class="td">Ahmadou</td>
                      <td class="td">Sergent</td>
                      <td class="td">Yirimadio 1008 lgts</td>
                      <td class="td">+22375468913</td>
                      <td class="td"><button>Voir plus</button></td>
                      <td class="td"><i style="font-size: 25px; color: red;" class="fa-solid fa-trash"></i></td>
                    </tr>
                    <tr class="active">
                      <td><img src="../../assets/logo.png" alt="" style="width: 50px; height: 50px; border-radius: 100%; border: 1px solid #2A445D;"></td>
                      <td class="td">ADIAWIAKOYE</td>
                      <td class="td">Ahmadou</td>
                      <td class="td">Sergent</td>
                      <td class="td">Yirimadio 1008 lgts</td>
                      <td class="td">+22375468913</td>
                      <td class="td"><button>Voir plus</button></td>
                      <td class="td"><i style="font-size: 25px; color: red;" class="fa-solid fa-trash"></i></td>
                    </tr>
                    <tr>
                      <td><img src="../../assets/logo.png" alt="" style="width: 50px; height: 50px; border-radius: 100%; border: 1px solid #2A445D;"></td>
                      <td class="td">ADIAWIAKOYE</td>
                      <td class="td">Ahmadou</td>
                      <td class="td">Sergent</td>
                      <td class="td">Yirimadio 1008 lgts</td>
                      <td class="td">+22375468913</td>
                      <td class="td"><button>Voir plus</button></td>
                      <td class="td"><i style="font-size: 25px; color: red;" class="fa-solid fa-trash"></i></td>
                    </tr>
                    <tr>
                      <td><img src="../../assets/logo.png" alt="" style="width: 50px; height: 50px; border-radius: 100%; border: 1px solid #2A445D;"></td>
                      <td class="td">ADIAWIAKOYE</td>
                      <td class="td">Ahmadou</td>
                      <td class="td">Sergent</td>
                      <td class="td">Yirimadio 1008 lgts</td>
                      <td class="td">+22375468913</td>
                      <td class="td"><button>Voir plus</button></td>
                      <td class="td"><i style="font-size: 25px; color: red;" class="fa-solid fa-trash"></i></td>
                    </tr>
                   </tbody>
            </table>
            </div>
           
          </div>
        </section>

      </div>
    </div>
  </div>




  <ng-template #content let-modal>
    <div style="background: #2A445D;" class="modal-header">
      <h4 style="color: #fff;" class="modal-title" id="modal-basic-title">Ajouter Controlleur</h4>
      <button style="background: red; border-radius: 50%; color: #fff; font-size: 30px; border: none;" type="button" class="fa-solid fa-xmark"  (click)="modal.dismiss('Cross click')"></button>
    
    </div>
    <div class="modal-body">
      <form>
        <div class="" style="display: flex; justify-content: space-between;">
          <div class="form-group flex-column " > <label class="col-form-label" style="margin-left: 15px;">Nom :</label> <input type="text" class="form-control" id="code" > </div>
          <div class="form-group flex-column "> <label class="col-form-label" style="margin-left: 15px;">Prenom :</label> <input type="text" class="form-control" id="nom" > </div>
      </div>
  
        <div class="mb-1">
          <label style="margin-left: 15px;"  class="col-form-label">Adresse :</label>
          <!-- <div  class="input-group"> -->
            <input
              type="text" class="form-control"
            />
        </div>
  
        <div class="mb-1">
          <label style="margin-left: 15px;" class="col-form-label">Téléphone :</label>
          <!-- <div  class="input-group"> -->
            <input
              type="phone" class="form-control"
            />
        </div>
  
        <div class="mb-1">
          <label style="margin-left: 15px;"  class="col-form-label">Email :</label>
          <!-- <div  class="input-group"> -->
            <input
              type="email" class="form-control"
            />
        </div>
  
        <div class="mb-1">
          <label style="margin-left: 15px;" class="col-form-label">Grade :</label>
          <!-- <div  class="input-group"> -->
            <input
              type="text" class="form-control"
            />
        </div>
  
        <div class="mb-1">
          <label style="margin-left: 15px;"  class="col-form-label">Matricule :</label>
          <!-- <div  class="input-group"> -->
            <input
              type="text" class="form-control"
            />
        </div>
  
        <!-- <div class="mb-1">
          <label style="margin-left: 15px;" class="col-form-label">Prenom</label>
           <div  class="input-group">
            <input
              type="text" class="form-control"
            />
        </div> -->
  
          <div style="display: flex; justify-content: center;" class="modal-footer">
              <button type="button">Envoyer</button>
          </div>
      </form>
    </div>
    
  </ng-template>