<mat-nav-list>
    <div class="logo py-4">
      <img src="../../assets/logo.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <div class="matSubheader">
<h2  class="mt-2"> </h2>
    </div>
    
  
    <mat-list-item style="color: #f7f8fa" routerLinkActive="dashboardControleFacile" routerLink="/principal/acceuil">
      <mat-icon>home</mat-icon> <span>Acceuil</span>
    </mat-list-item>
    <mat-list-item routerLinkActive="dashboardControleFacile" routerLink="/principal/dashboard">
      <mat-icon>account_box</mat-icon> <span>Agent Controlleur</span> 
    </mat-list-item>
    <mat-list-item routerLinkActive="dashboardControleFacile" routerLink="/principal/utilisateur"> <mat-icon>account_circle</mat-icon> <span>Utilisateur</span> </mat-list-item>
    <mat-list-item routerLinkActive="dashboardControleFacile" routerLink="/principal/vehicule"> <mat-icon>directions_car</mat-icon> <span>Vehicule</span> </mat-list-item>
    <mat-list-item routerLinkActive="dashboardControleFacile" routerLink="/principal/permis"> <mat-icon>subtitles</mat-icon> <span>Permis</span> </mat-list-item>
    <mat-list-item routerLinkActive="dashboardControleFacile" routerLink="/principal/infraction"> <mat-icon>note</mat-icon> <span>Infraction</span> </mat-list-item>
    <mat-list-item routerLinkActive="dashboardControleFacile" routerLink="/principal/plusvehicule"> <mat-icon>queue</mat-icon> <span>Nouvel vehicule</span> </mat-list-item>

  </mat-nav-list>
