<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2"><i (click)=" back()" class="fa-solid fa-reply" style="margin-right: 15px;"></i> 
        <p style="font-size: 20px; font-weight: 400; margin-top: 1%;">Ajouter de nouvel vehicule pour un utilisateur existant</p> </div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute " style="width: 100%;">
  
        <div class="form">
          <!-- <h1 class="title">Create an account</h1> -->
  
          <style>
            .mesf{
  
               margin-bottom: 1.5%; 
            }
          </style>
          <form action="#" class="myform" style="margin-top: 15px;">
            <div class="Row" style="width: 98% !important; margin-left: auto; margin-right: auto; display: flex; justify-content: space-between;">
  
              <div class="form1" style="width: 50% !important; margin-left: auto; margin-right: auto; margin-bottom: 10px;">
                  <p class="title">Information sur la Carte Grise</p> 
                <div class="row" style="width: 98% !important; margin-left: auto; margin-right: auto; margin-bottom: 10px;">
               <div class=" control-from  col-md-6 mesf">
                <label for="lastname">N° Carte Grise *</label>
                <input type="text" id="firstname" value="" required>
              </div>
              <div class="control-from col-md-6 mesf">
                <label for="lastname">D P M C *</label>
                <input type="date" id="lastname" value="" required>
              </div>  
              <div class="control-from col-md-6 mesf">
                <label for="firstname">Date de délivrance *</label>
                <input type="date" id="firstname" value="" required>
              </div>
  
              <div class="control-from col-md-6 mesf">
                <label for="lastname">Date d'echéance *</label>
                <input type="date" id="lastname" value="" required>
              </div>
              
              <div class="row" style="width: 100% !important; margin-left: auto; margin-right: auto;">
                <div class="control-from col-md-4 mesf">
                 <label for="emailaddress">P T A C *</label>
                 <input type="number" id="emailaddress" value="" required>
               </div>
     
               <div class="control-from col-md-4 mesf">
                 <label for="emailaddress">P V *</label>
                 <input type="number" id="emailaddress" value="" required>
               </div>
               
               <div class="control-from col-md-4 mesf">
                <label for="emailaddress">Energie *</label>
                <input type="text" id="emailaddress" value="" required>
              </div>
               </div>
  
            <!-- <div class="control-from col-md-6 mesf">
              <label for="emailaddress">Téléphone *</label>
              <input type="phone" id="emailaddress" value="" required>
            </div>
  
            <div class="control-from col-md-6 mesf">
              <label for="emailaddress">N° permis *</label>
              <input type="text" id="emailaddress" value="" required>
            </div> -->

            <div class="row" style="width: 100% !important; margin-left: auto; margin-right: auto;">
                <div class="control-from col-md-4 mesf">
                 <label for="emailaddress">Puissance reél *</label>
                 <input type="number" id="emailaddress" value="" required>
               </div>
     
               <div class="control-from col-md-4 mesf">
                 <label for="emailaddress">Puissance admin *</label>
                 <input type="number" id="emailaddress" value="" required>
               </div>
               
               <div class="control-from col-md-4 mesf">
                <label for="emailaddress">Cout Unitaire *</label>
                <input type="number" id="emailaddress" value="" required>
              </div>
               </div>

              </div>
              </div>
             
  
              &nbsp; 
             
  
              <div class="form1" style="width: 50% !important; margin-left: auto; margin-right: auto; margin-bottom: 10px;">
                <p class="title">Information sur le véhicule</p> 
                 <div class="row" style="width: 98% !important; margin-left: auto; margin-right: auto; margin-bottom: 10px;">
                <div class=" control-from  col-md-6 mesf">
                 <label >Immatriculation *</label>
                 <input type="text" id="firstname" value="" required>
               </div>
               <div class="control-from col-md-6 mesf">
                 <label for="lastname">Marque *</label>
                 <input type="text" id="lastname" value="" required>
               </div>  
               <div class="control-from col-md-6 mesf">
                 <label for="firstname">Chassie *</label>
                 <input type="text" id="firstname" value="" required>
               </div>
   
           
   
             <div class="control-from col-md-6 mesf">
               <label for="phonenumber">Type *</label>
               <input type="text" id="phonenumber" value="" required>
             </div>
   
             <div class="row" style="width: 100% !important; margin-left: auto; margin-right: auto;">
  
              <div class="control-from col-md-4 mesf">
                <label for="emailaddress">Couleur *</label>
                <input type="text" id="emailaddress" value="" required>
              </div>
  
              <div class="control-from col-md-4 mesf">
               <label for="emailaddress">Genre *</label>
               <input type="text" id="emailaddress" value="" required>
             </div>
   
             <div class="control-from col-md-4 mesf">
               <label for="emailaddress">Nombre de place *</label>
               <input type="text" id="emailaddress" value="" required>
             </div>
  
           
             </div>
  
                  <div class="control-from col-md-6 mesf">
                 <label for="lastname">Carrouserie *</label>
                 <input type="text" id="lastname" value="" required>
               </div>
               
             <div class="control-from col-md-6 mesf">
               <label for="emailaddress">Capacité *</label>
               <input type="text" id="emailaddress" value="" required>
             </div>
             
               </div>
  
              </div>
             
        
  
  
  
  
  
  
  
  
           
  
            </div>
  
            <div class="form1" style="width: 98% !important; margin-left: auto; margin-right: auto; margin-bottom: 10px;">
              <p class="title">Information sur le propriétaire</p> 
            <div class="row" style="width: 98% !important; margin-left: auto; margin-right: auto;">
              <div class="control-from col-md-4 mesf">
              <label for="phonenumber">Nom *</label>
              <input type="text" id="phonenumber" value="" required>
            </div>
            <div class="control-from col-md-4 mesf">
              <label for="emailaddress">Prénom *</label>
              <input type="text" id="emailaddress" value="" required>
            </div>
  
            <div class="control-from col-md-4 mesf">
              <label for="phonenumber">Profession *</label>
              <input type="text" id="phonenumber" value="" required>
            </div>
  
            <!-- <div class="control-from col-md-3 mesf">
              <label for="emailaddress">Date d'echéance *</label>
              <input type="date" id="emailaddress" value="" required>
            </div> -->
  
            </div>
  
  
  
            <div class="row" style="width: 98% !important; margin-left: auto; margin-right: auto;">
              <!-- <div class="control-from col-md-2 mesf">
              <label for="phonenumber">P T A C *</label>
              <input type="number" id="phonenumber" value="" required>
            </div>
  
            <div class="control-from col-md-2 mesf">
              <label for="phonenumber">P V *</label>
              <input type="number" id="phonenumber" value="" required>
            </div> -->
            <div class="control-from col-md-3 mesf">
              <label for="emailaddress">Adresse *</label>
              <input type="text" id="emailaddress" value="" required>
            </div>
  
            <div class="control-from col-md-3 mesf">
              <label for="phonenumber">Date de nassance *</label>
              <input type="date" id="phonenumber" value="" required>
            </div>
  
            <div class="control-from col-md-3 mesf">
              <label for="emailaddress">Lieu de naissance *</label>
              <input type="text" id="emailaddress" value="" required>
            </div>
  
            <div class="control-from col-md-3 mesf">
              <label for="phonenumber">Commune *</label>
              <input type="text" id="phonenumber" value="" required>
            </div>
  
            </div>
            </div>
  
  
  
  
            <div class="button">
              <button id="register">Envoyer</button>
            </div>
  
          </form>
        </div>
  
      </div>
    </div>
  </div>
