<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2" style="display: flex; justify-content: space-between;">

        <input class="search" type="search"  placeholder="Rechercher" >
  
        <div class="cardi">
            <div class="box" style="width: 50%; margin-left: 1%; margin-right: 1%;">
                <!-- <i style="color: #0a0a0a;" class="fa-sharp fa-solid fa-plus"></i> -->
              <p style="color: #000;">Total utilisateur</p>
              <!-- <p style="color: #999;">Utilisateur</p> -->
            </div>
            <div class="icon" style="background: #2A445D; width: 50%; margin-right: 1.5%; height: 90%; margin-left: 1%; border-radius: 10px;">
                <p style="color: #ffffff;">250</p>
            </div>
          </div>
        </div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute " style="width: 100%;">

        <!-- <div class="searchdiv">
            <input class="search" type="search" id="default-search" placeholder="Rechercher" required>
         </div> -->

       <div class="board">
        <table width="100%">
            <thead>
                <tr>
                    <td>Nom complet</td>
                    <td>Profession</td>
                    <td>Adresse</td>
                    <td>Status</td>
                    <!-- <td>Role</td> -->
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                     <td class="people">
                    <img src="../../assets/logo.png" alt="">
                    <div class="people-de">
                        <h5><span>John </span> <span> Doe</span></h5>
                        <p>+22375468913</p>
                    </div>
                </td>
                <td class="people-des">
                  <h5>Software Engineer</h5>
                  <!-- <p>web dev</p> -->
                </td>

                <td class="role">
                    <p>Owner</p>
                </td>
                <td class="active"><p>Active</p></td>

                <td class="edit"><a routerLink="/principal/detailutil">Voir plus</a></td>
                </tr>

                <tr>
                    <td class="people">
                   <img src="../../assets/logo.png" alt="">
                   <div class="people-de">
                       <h5>John Doe</h5>
                       <p>+22375468913</p>
                   </div>
               </td>
               <td class="people-des">
                 <h5>Software Engineer</h5>
                 <!-- <p>web dev</p> -->
               </td>
               <td class="role">
                <p>Owner</p>
            </td>
               <td class="active"><p>Active</p></td>
               <td class="edit"><a routerLink="/principal/detailutil">Voir plus</a></td>
               </tr>
               
            </tbody>
        </table>
       </div>


      </div>
    </div>
  </div>